 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:" Fjalla One , sans-sarif";
    background-color: rgb(183, 181, 181);
}
h1{
    text-align: center;
    padding-top: 25px;
    margin-bottom: 15px;
    font-size: 1.7rem;
    letter-spacing: 1px;
   
}
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
/*  */
.img-cont{
    margin: 10px 30%;
}
.img-cont img{
    width: 100%;
    margin-top: 5px;
}
@media screen and (max-width:600px){
    h1{
        font-size: 20px;
    }
    .img-cont{
        margin: 20px;
    }
    .img-cont img{
        margin-top: 10px;
    }
    
}